
#connectCover{
    width: 100vw;
    height: 100vh;
    position:fixed;
    background-color: black;
    background: linear-gradient(to right, #963beb, #830bba, #c00fb4, #e9d596);
    background-size: 370% 370%!important;
    animation: bggradient 20s ease-in-out infinite;
}

@keyframes bggradient { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}