.App {
  color: white;
}

.card{
  width: 50px;
  font-size: 12px;
}

.footer {
  background-color: black;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: white;
  font-size: 15px;
  text-align: center;
}

.donateAlert{
  width: 130%!important;
  align-self: center!important;
  text-align: center!important;
  transform: translateX(-12%);
}

body{
  overflow-x: hidden;
}