body{
  overflow-x: hidden;
}

.card{
  width: 50px;
  font-size: 12px;
}

.code-contain {
  padding: 10px 10px 10px 40px;
}

.infoDoc h5 {
  color:white;
  width:80%;
  padding-top:10px;
  font-family: 'Open Sans', sans-serif;
  font-size:48px;
  text-align: left;
}

.infoDoc p {
  color:white;
  width:80%;
  padding-top:20px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}

.infoDoc a {
  color: #f7cdf3;
}

.infotab{
  background-color: #963beb70;
  padding: 50px;
  width: 60vw;
  border-radius: 25px;
}

.infoimg{
  width:40vw;
  display:flex;
  justify-content: center;
}

.infoimg img {
  object-fit: contain;
}

.nav-tabs .nav-link {
    color: white;
}

.nav-tabs .nav-link:hover {
  color: #f7cdf3;
}

.sidebar {
  height: 83vh !important;
}

.docpage {
  height: 77vh !important;
}

.docpage h1 {
  color:black;
  font-size: 250%;
  font-family: 'Open Sans', sans-serif;
  padding:40px 40px 20px 40px;
}

.docpage h3 {
  color:black;
  font-size: 180%;
  font-family: 'Open Sans', sans-serif;
  padding:20px 20px 10px 50px;
}

.docpage h5 {
  color: black;
  font-size: 16px;
  padding:0px 0px 0px 40px;
}

.docpage p {
  color:black;
  padding:0px 0px 0px 40px;
}

.receiveButton {
  text-align: center;
  width: 180px;
  font-size: 20px;
  font-family: 'Kantumruy Pro', sans-serif;
  color: white;
  cursor: pointer;
  margin: 2px;
  height: 50px;
  text-align:center;
  border: none;
  background-position: 0% 0%;
  background-size: 300% 300%;
  
  background-image: radial-gradient(circle at 110%,  #F00699 60%,  #963beb 20% );
  

  border-radius: 10px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.receiveButton:hover {
  background-position: 70% -0%;
  background-size: 500% 500%;
  color: white;
  transform: scale(1.05);
  moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.receiveButton.alt{
  background-image: radial-gradient(circle at 110%,  #F00699 60%,  #0ba0e5 20% );
}